.trailCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--bg-secondary);
  pointer-events: none; /* Make sure it doesn't block mouse events for content */
}
